@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
        <p>
            About text goes here
            @*<em>So what is the SAMM Self Assessment tool?</em><br />
            <br />
            The OWASP SAMM Self Assessment tool is an implementation of the <a href='http://www.opensamm.org' target='_blank'>OwaspSAMM</a> process wrapped together into a portable ASP.Net MVC Razor application. Its aim is to simplify the measurement of your organisation against <a href='http://www.opensamm.org' target='_bank'>OwaspSAMM</a>, and to assist in the construction of a roadmap, and subsequent tracking of progress down that roadmap.<br />
            <br />
            <br />
            <em>Okay, so why would I measure software security maturity?</em><br />
            <br />
            Without this measurement trying to improve the state of security within your software development lifecycle is going to be difficult. As they say: You can't manage what you can't measure.<br />*@
        </p>
        <p></p>
