
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--<h1>OWASP SAMM</h1>-->
   
    <h4><strong>Who can use OWASP SAMM</strong></h4>
    <p >
        This assessment tool can be used by anyone involved in the software development process.  </p>
    
    <h4><strong>How to use OWASP SAMM</strong></h4>
    <p >
        1.	To start an assessment, go to the <a href="~/Assessments" >Assessment</a> page, click on the <a href="~/Assessments/Create" >Create New Assessment</a> button and enter your information. <br />
        2.	Answer the questions within each of the four tabs – Governance, Construction, Verification and Deployment. <br />
        3.	You can save your work for later at any time by using the save button at the bottom of the page; your OWASP SAMM score is updated automatically as the answers are populated.<br />
        4.	When complete, click the Scorecard link to view your results.<br />
  </p>
    
    <h4><strong>Benefits</strong></h4>
    <p >
       The OWASP SAMM assessment tool provides a consistent method to evaluate the maturity of your organization's software development processes and offers a solid foundation for further improvement. </p>
    
    <h4><strong>Need more resources?</strong></h4>
@Html.Partial("_Contacts")    
   
</div>

