<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>g2w5492.austin.hp.com</MSDeployServiceURL>
    <DeployIisAppPath>DefaultWebSite/OpenSAMMOS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>americas/ew3209co</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OpenSAMMContext" Order="1" Enabled="False">
          <Destination Path="Data Source=g2w5491.austin.hp.com,2048;Initial Catalog=OpenSAMMOS;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=g2w5491.austin.hp.com,2048;Initial Catalog=OpenSAMMOS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HP.GCS.OpenSAMM.DAL.OpenSAMMContext, HP.GCS.OpenSAMM.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)OpenSAMMContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/OpenSammModel.csdl|res://*/OpenSammModel.ssdl|res://*/OpenSammModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=g2w5491.austin.hp.com,2048;Initial Catalog=OpenSAMMOS;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>